pkgbase = python-prompt_toolkit
	pkgdesc = Library for building powerful interactive command lines in Python
	pkgver = 3.0.42
	pkgrel = 1
	url = https://github.com/prompt-toolkit/python-prompt-toolkit
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pygments
	depends = python-wcwidth
	source = python-prompt_toolkit::git+https://github.com/prompt-toolkit/python-prompt-toolkit#commit=87d01078cae7f560b241af7cc0b50cc72dfacd26
	b2sums = SKIP

pkgname = python-prompt_toolkit
