pkgbase = python-prompt_toolkit
	pkgdesc = Library for building powerful interactive command lines in Python
	pkgver = 3.0.46
	pkgrel = 1
	url = https://github.com/prompt-toolkit/python-prompt-toolkit
	arch = any
	license = BSD
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pygments
	depends = python-wcwidth
	source = python-prompt_toolkit::git+https://github.com/prompt-toolkit/python-prompt-toolkit#tag=3.0.46
	b2sums = 2afa4a80a0d1df7bee12e75c3dcef5684e32da44d4bc70975302abcd9d01c9742b9494cb0b62ba92b0808800c08cc9140cdb08305a14eeff4ac1216b936a5843

pkgname = python-prompt_toolkit
